# Ignore everything in Columbus except .gitkeep
Columbus/*
!Columbus/.gitkeep

# Scripts folder: ignore everything except scripts and columbus.slurm
Scripts/*.txt
Scripts/*.xyz
Scripts/*.log
!Scripts/input_values.txt

# Track log.out in the current directory
log.out

