# Ignore everything in Columbus except .gitkeep
Columbus/*
!Columbus/.gitkeep

# Scripts folder: ignore everything except scripts and columbus.slurm
Scripts/*
!Scripts/*.exp
!Scripts/*.sh
!Scripts/*.py
!Scripts/columbus.slurm

# Track log.out in the current directory
log.out

